@font-face {
  font-family: "Industry-medium";
  src: url("https://styleguide.overwatchleague.com/5.6.2/assets/themes/owl/fonts/industry-medium-webfont.woff2"); }

@font-face {
  font-family: "Industry-bold";
  src: url("https://styleguide.overwatchleague.com/5.6.2/assets/themes/owl/fonts/industry-bold-webfont.woff2"); }

.orange {
  color: #ff8900; }

.hover-orange:hover {
  color: #ff8900; }

.hover-pointer:hover {
  cursor: pointer; }
