@font-face {
  font-family: "Industry-medium";
  src: url("https://styleguide.overwatchleague.com/5.6.2/assets/themes/owl/fonts/industry-medium-webfont.woff2"); }

@font-face {
  font-family: "Industry-bold";
  src: url("https://styleguide.overwatchleague.com/5.6.2/assets/themes/owl/fonts/industry-bold-webfont.woff2"); }
