@media (min-width: 992px) {
  .card-group {
    margin: 0 -12px; } }

.card-group .CardGroup-card {
  flex: 1 0 auto;
  padding: 12px 8px;
  border: none;
  text-align: center; }

@media (min-width: 768px) {
  .card-group .CardGroup-card {
    width: 33.33333333%; } }

@media (min-width: 992px) {
  .card-group .CardGroup-card {
    width: 25%; } }

.card-group .CardGroup-card .card-team {
  background-color: rgba(51, 51, 51, 0.06);
  text-align: center;
  height: 100%; }
