@font-face {
  font-family: "Industry-medium";
  src: url("https://styleguide.overwatchleague.com/5.6.2/assets/themes/owl/fonts/industry-medium-webfont.woff2"); }

@font-face {
  font-family: "Industry-bold";
  src: url("https://styleguide.overwatchleague.com/5.6.2/assets/themes/owl/fonts/industry-bold-webfont.woff2"); }

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  @media (min-width: 992px) {
    .card-group {
      margin: 0 -12px;
      text-align: center; } }
  .card-group .CardGroup-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 12px 8px;
    border: none;
    text-align: center;
    width: 100%; }
    @media (min-width: 480px) {
      .card-group .CardGroup-card {
        width: 50%; } }
    @media (min-width: 768px) {
      .card-group .CardGroup-card {
        width: 33.33333333%; } }
    @media (min-width: 992px) {
      .card-group .CardGroup-card {
        width: 25%; } }
    .card-group .CardGroup-card .card-team {
      background-color: rgba(51, 51, 51, 0.06);
      height: 100%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      border-bottom: none;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2); }
      .card-group .CardGroup-card .card-team .card-link {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
        font-size: 1rem;
        line-height: 1;
        border-top: none;
        text-transform: uppercase; }
        @media (min-width: 768px) {
          .card-group .CardGroup-card .card-team .card-link {
            font-size: 0.75rem; } }
        .card-group .CardGroup-card .card-team .card-link .card-logo {
          position: relative;
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 8px;
          padding-top: calc(100% - 16px);
          width: calc(100% - 16px); }
          @media (min-width: 768px) {
            .card-group .CardGroup-card .card-team .card-link .card-logo {
              margin-left: 20px;
              margin-right: 20px;
              margin-top: 20px;
              padding-top: calc(100% - 40px);
              width: calc(100% - 40px); } }
          .card-group .CardGroup-card .card-team .card-link .card-logo img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0; }
        .card-group .CardGroup-card .card-team .card-link .card-body {
          flex-grow: 1;
          padding: 8px; }
          @media (min-width: 768px) {
            .card-group .CardGroup-card .card-team .card-link .card-body {
              padding: 1rem; } }
          .card-group .CardGroup-card .card-team .card-link .card-body .card-title {
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            font-family: "Industry-bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
            @media (max-width: 767px) {
              .card-group .CardGroup-card .card-team .card-link .card-body .card-title {
                font-size: 1.5rem; } }
          .card-group .CardGroup-card .card-team .card-link .card-body .card-text {
            font-weight: normal;
            font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }
            @media (max-width: 767px) {
              .card-group .CardGroup-card .card-team .card-link .card-body .card-text {
                font-size: 1rem; } }
      .card-group .CardGroup-card .card-team .card-bottom {
        border-top: 1px solid rgba(51, 51, 51, 0.2); }

.card-link {
  cursor: pointer;
  overflow: hidden;
  color: #333;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: none;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  padding: 1.075em 1.5em 0.925em;
  position: relative; }

@media (hover: none) {
  .card-link--withUnderlineAnimation:not([disabled])::after,
  .card-link--withUnderlineAnimation:not([disabled])::before,
  .card-link--withUnderlineAnimation:not([disabled])::after,
  .card-link--withUnderlineAnimation:not([disabled])::before {
    display: none; } }

.card-link--withUnderlineAnimation:not([disabled])::after,
.card-link--withUnderlineAnimation:not([disabled])::after {
  background-color: #ff8900;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
  -webkit-transform: translateX(-101%);
  transform: translateX(-101%);
  width: 100%;
  z-index: 10; }

.card-link--withUnderlineAnimation:not([disabled]):hover::after,
.card-link--withUnderlineAnimation:not([disabled]):hover::after {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.modal-dialog {
  border-radius: 0.3rem; }
  @media screen and (min-width: 576px) {
    .modal-dialog {
      max-width: 1200px; } }
  .modal-dialog .modal-content {
    border-radius: 0.4rem; }
    .modal-dialog .modal-content .modal-border {
      border-radius: 0.3rem; }
    .modal-dialog .modal-content .modal-close {
      position: absolute;
      right: 20px;
      top: 15px;
      color: rgba(0, 0, 0, 0.5);
      cursor: pointer; }
    .modal-dialog .modal-content .modal-body {
      padding: 0; }
    .modal-dialog .modal-content .modal-header {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .modal-dialog .modal-content .modal-header .modal-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 1rem; }
        .modal-dialog .modal-content .modal-header .modal-title .modal-header--logo {
          max-width: 70px; }
        .modal-dialog .modal-content .modal-header .modal-title span {
          margin: 0 1rem;
          font-size: 2rem;
          font-weight: bold; }

.Icon {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  vertical-align: middle;
  text-align: center; }

.Icon--lightFill {
  fill: rgba(51, 51, 51, 0.4); }

.TeamRoster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 12px 8px;
  height: auto;
  position: relative; }
  @media (min-width: 768px) {
    .TeamRoster {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 40px; } }
  .TeamRoster .TeamRoster-teamInfo {
    padding: 0 0 20px;
    display: flex; }
    @media (min-width: 768px) {
      .TeamRoster .TeamRoster-teamInfo {
        width: 40%;
        padding-left: 12px; } }
    @media (min-width: 992px) {
      .TeamRoster .TeamRoster-teamInfo {
        width: 30%; } }
    .TeamRoster .TeamRoster-teamInfo .TeamRoster-logo {
      width: 50px;
      max-height: 50px;
      flex-shrink: 0; }
    .TeamRoster .TeamRoster-teamInfo .TeamRoster-infoWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 0.5rem; }
      .TeamRoster .TeamRoster-teamInfo .TeamRoster-infoWrapper .TeamRoster-info {
        width: calc(100% - 1px);
        padding-bottom: 20px; }
        .TeamRoster .TeamRoster-teamInfo .TeamRoster-infoWrapper .TeamRoster-info .TeamRoster-name {
          margin: 0;
          font-weight: bold; }
        .TeamRoster .TeamRoster-teamInfo .TeamRoster-infoWrapper .TeamRoster-info .TeamRoster-content {
          font-size: 0.875rem;
          line-height: 1;
          flex-grow: 1;
          margin-top: 0;
          margin-bottom: 8px; }
        .TeamRoster .TeamRoster-teamInfo .TeamRoster-infoWrapper .TeamRoster-info .TeamRoster-division {
          font-size: 0.75rem;
          line-height: 1;
          display: inline-block;
          padding: 0.25rem 0.5rem;
          border: 1px solid rgba(51, 51, 51, 0.2); }
      .TeamRoster .TeamRoster-teamInfo .TeamRoster-infoWrapper .TeamRoster-link {
        font-size: 0.875rem;
        line-height: 1;
        align-self: flex-start;
        color: #ff8900; }
        .TeamRoster .TeamRoster-teamInfo .TeamRoster-infoWrapper .TeamRoster-link:hover {
          color: #e67b00;
          text-decoration: none; }
        .TeamRoster .TeamRoster-teamInfo .TeamRoster-infoWrapper .TeamRoster-link .Icon {
          fill: currentColor;
          width: 1.1rem;
          margin: 0 0 4px 4px; }
  .TeamRoster .TeamRoster-playerList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    @media (min-width: 768px) {
      .TeamRoster .TeamRoster-playerList {
        max-width: 65%;
        flex-direction: row; } }
    .TeamRoster .TeamRoster-playerList .TeamRoster-player {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0 24px 24px; }
      @media (min-width: 992px) {
        .TeamRoster .TeamRoster-playerList .TeamRoster-player {
          width: 50%; } }
      .TeamRoster .TeamRoster-playerList .TeamRoster-player .Icon {
        width: 30px;
        max-width: none;
        margin-right: 0.5rem;
        height: 1.6rem; }
      .TeamRoster .TeamRoster-playerList .TeamRoster-player .PlayerHandle-handleWrapper {
        font-size: 1rem;
        line-height: 1;
        margin: 0; }
        .TeamRoster .TeamRoster-playerList .TeamRoster-player .PlayerHandle-handleWrapper .PlayerHandle-handle {
          font-size: 1.4rem;
          line-height: 1;
          font-weight: 700;
          font-family: "Industry-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
          margin-bottom: 5px; }
        .TeamRoster .TeamRoster-playerList .TeamRoster-player .PlayerHandle-handleWrapper .PlayerHandle-name {
          font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .TeamRoster .TeamRoster-close,
  .TeamRoster .TeamRoster-close:hover,
  .TeamRoster .TeamRoster-close:active,
  .TeamRoster .TeamRoster-close:focus {
    text-decoration: none; }
    @media (min-width: 768px) {
      .TeamRoster .TeamRoster-close,
      .TeamRoster .TeamRoster-close:hover,
      .TeamRoster .TeamRoster-close:active,
      .TeamRoster .TeamRoster-close:focus {
        display: none; } }
    .TeamRoster .TeamRoster-close .button-text,
    .TeamRoster .TeamRoster-close:hover .button-text,
    .TeamRoster .TeamRoster-close:active .button-text,
    .TeamRoster .TeamRoster-close:focus .button-text {
      font-size: 0.875rem;
      line-height: 1;
      font-weight: bold;
      color: #ff8900;
      text-transform: uppercase; }
