@font-face {
  font-family: "Industry-medium";
  src: path("./fonts/industry-medium-webfont.woff2"); }

@font-face {
  font-family: "Industry-bold";
  src: path("./fonts/industry-bold-webfont.woff2"); }

.card-group {
  display: flex;
  flex-flow: row wrap; }

@media (min-width: 992px) {
  .card-group {
    margin: 0 -12px;
    text-align: center; } }

.card-group .CardGroup-card {
  flex: 0 0 auto;
  padding: 12px 8px;
  border: none;
  text-align: center;
  width: 100%; }

@media (min-width: 480px) {
  .card-group .CardGroup-card {
    width: 50%; } }

@media (min-width: 768px) {
  .card-group .CardGroup-card {
    width: 33.33333333%; } }

@media (min-width: 992px) {
  .card-group .CardGroup-card {
    width: 25%; } }

.card-group .CardGroup-card .card-team {
  background-color: rgba(51, 51, 51, 0.06);
  height: 100%;
  justify-content: flex-end; }

.card-group .CardGroup-card .card-team .card-link {
  flex-direction: column;
  margin-left: 0;
  border-top: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2); }

.card-group .CardGroup-card .card-team .card-link .card-title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Industry-bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.card-group .CardGroup-card .card-team .card-link .card-text {
  font-weight: normal; }

.card-link {
  cursor: pointer;
  overflow: hidden;
  color: #333;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: none;
  transition: background-color 0.3s, color 0.3s;
  padding: 1.075em 1.5em 0.925em;
  position: relative; }

@media (hover: none) {
  .card-link--withUnderlineAnimation:not([disabled])::after,
  .card-link--withUnderlineAnimation:not([disabled])::before,
  .card-link--withUnderlineAnimation:not([disabled])::after,
  .card-link--withUnderlineAnimation:not([disabled])::before {
    display: none; } }

.card-link--withUnderlineAnimation:not([disabled])::after,
.card-link--withUnderlineAnimation:not([disabled])::after {
  background-color: #ff8900;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  transition: transform 100ms ease-in-out;
  transform: translateX(-101%);
  width: 100%;
  z-index: 10; }

.card-link--withUnderlineAnimation:not([disabled]):hover::after,
.card-link--withUnderlineAnimation:not([disabled]):hover::after {
  transform: translateX(0); }

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 1200px; } }

.modal-dialog .modal-content .modal-header {
  justify-content: space-around;
  align-items: center; }

.modal-dialog .modal-content .modal-header .modal-title {
  display: flex;
  align-items: center;
  padding: 0 1rem; }

.modal-dialog .modal-content .modal-header .modal-title .modal-header--logo {
  max-width: 70px; }

.modal-dialog .modal-content .modal-header .modal-title span {
  margin: 0 1rem;
  font-size: 1.7rem;
  font-weight: bold; }
