@import "../_variables.scss";

.Footer {
    padding: 1.5rem 1.5rem 1rem;
    background: rgba(254, 254, 254, 0.7);
    box-shadow: $box-shadow-float;
    margin-top: 20px;
    @media (min-width: 768px) {
        margin-top: 40px;
    }

    .row {
        justify-content: center;
    }
    &-heading {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &-icon {
        color: #007bff;
        font-size: 1.5rem;
        &--copyright {
            vertical-align: baseline;
            font-size: 0.75rem;
            color: #000;
        }
    }
    p {
        margin-bottom: 0.5rem;
    }
    &-copyright--aligned-bottom {
        align-self: flex-end;
    }
}
